#!cmake-build-debug/files
#!cmake-build-debug/files/*
cmake-build-debug/.cmake
cmake-build-debug/CMakeFiles
cmake-build-debug/Testing
cmake-build-debug/*ninja*
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
#/cmake-build-debug
/.idea